Repository zoomoid/demo-man: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:client, build:watchdog, build:waveman, deploy:api, deploy:client, deploy:watchdog, deploy:waveman

build:api:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd api/
  ...

build:client:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd client/
  ...

build:watchdog:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd watchdog/
  ...

build:waveman:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd waveman/
  ...

deploy:api:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:client:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:watchdog:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:waveman:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

feat(client): :sparkles: add store-specific resoruce models
  client/src/store/models/Queue.ts
  client/src/store/models/Track.ts
Due: build:client, deploy:client

feat(client): :recycle: add main.ts content
  client/src/main.ts
Due: build:client, deploy:client

refactor(client): :recycle: refactor Footer.vue and Header.vue
  client/src/components/Footer.vue
  client/src/components/Header.vue
Due: build:client, deploy:client

fix(api): :bug: fix bug in link construction for by_namespace waveforms
  api/lib/metadata/index.js
  api/lib/waveform/index.js
Due: build:api, deploy:api

fix(api): :bug: rework metadata response
  api/lib/metadata/index.js
Due: build:api, deploy:api

refactor(client): :recycle: more typescript refactoring
  client/package.json
  client/src/main.ts
  client/src/vuex.d.ts
  client/tsconfig.json
Due: build:client, deploy:client

feat(client): :label: add types for API Resources and more
  client/src/models/Metadata.d.ts
  client/src/models/Namespace.d.ts
  client/src/models/Theme.d.ts
  client/src/models/Theme.ts
  client/src/models/Track.d.ts
  client/src/models/Track.ts
  client/src/models/Waveform.d.ts
  client/src/store/models/Queue.ts
  client/src/store/models/Track.ts
Due: build:client, deploy:client

refactor(api): :recycle: move position of isPseudoResource flag
  api/lib/metadata/index.js
Due: build:api, deploy:api

refactor(client): :recycle: add module declaration for injecting globals
  client/src/main.ts
Due: build:client, deploy:client

refactor(client): :art: update Breadcrump.vue
  client/src/components/Breadcrump.vue
Due: build:client, deploy:client

refactor(client): :recycle: refactor store functionality
  client/src/store/index.ts
Due: build:client, deploy:client

feat(client): :sparkles: use theming API on page
  client/src/views/Page.vue
Due: build:client, deploy:client

refactor(client): :recycle: re-add home component
  client/src/views/Home.vue
Due: build:client, deploy:client

refactor(client): :construction: rework AudioPlayer, AudioManager, and GlobalPlayer components
  client/src/components/AudioManager.vue
  client/src/components/AudioPlayer.vue
  client/src/components/GlobalPlayer.vue
Due: build:client, deploy:client

refactor(client): :recycle: refactor App scaffolding
  client/src/App.vue
Due: build:client, deploy:client

chore(client): :package: update packages
  client/package-lock.json
  client/package.json
Due: build:client, deploy:client

feat(client): :art: improve models and add conversion function
  client/src/models/Metadata.d.ts
  client/src/models/Namespace.d.ts
  client/src/models/Theme.d.ts
  client/src/models/Track.d.ts
  client/src/models/Waveform.d.ts
Due: build:client, deploy:client

feat(client): :sparkles: add vue3-compliant vue-router configuration
  client/src/router/index.ts
Due: build:client, deploy:client

refactor(client): :recycle: refactor main.ts and add correct shims for .vue files
  client/src/main.ts
  client/src/shims-vue.d.ts
Due: build:client, deploy:client

refactor(client): :recycle: add more eslint plugins for typescript
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/tsconfig.json
Due: build:client, deploy:client

refactor(client): :recycle: refactor track model for store into own module
  client/src/store/Track.d.ts
Due: build:client, deploy:client

refactor(client): :recycle: refactor store with type inference
  client/src/store/actions.ts
  client/src/store/getters.ts
  client/src/store/index.ts
  client/src/store/interfaces.ts
  client/src/store/mutations.ts
  client/src/store/state.ts
Due: build:client, deploy:client

refactor(client): :recycle: complete migration to typed store with finishing actions
  client/src/store/actions.ts
  client/src/store/interfaces.ts
Due: build:client, deploy:client

feat(client): :sparkles: add dedicated PlayerSettings component to manage playback settings
  client/src/components/PlayerSettings.vue
Due: build:client, deploy:client

refactor(client): :recycle: cleanup store creation
  client/src/store/index.ts
  client/src/store/interfaces.ts
Due: build:client, deploy:client

feat(client): :label: add interface for theme with string instead of raw number array
  client/src/models/Theme.d.ts
Due: build:client, deploy:client

refactor(client): :recycle: inject global constants for version, API URL and Base URL and provide global functions in main.ts
  client/src/main.ts
Due: build:client, deploy:client

refactor(client): :fire: remove obsolete Header component
  client/src/components/Header.vue
Due: build:client, deploy:client

feat(client): :sparkles: implement Vue 3 Composition API :tada:
  client/src/components/AudioManager.vue
  client/src/components/AudioPlayer.vue
  client/src/components/Breadcrump.vue
  client/src/components/Footer.vue
  client/src/components/GlobalPlayer.vue
  client/src/views/Home.vue
  client/src/views/Page.vue
Due: build:client, deploy:client

test: temporarily disable client in docker-compose.yaml
  testing/docker-compose.yml
Due: none

chore: configure vetur for monorepo
  vetur.config.js
Due: none

chore: remove vscode files from index
  .vscode/launch.json
  .vscode/settings.json
Due: none

chore(deps): update api packages
  api/package-lock.json
  api/package.json
Due: build:api, deploy:api

chore: update gitignore
  .gitignore
Due: none

chore: rename manifests directory
  manifests/README.md
  manifests/api-server.deployment.yaml
  manifests/client.deployment.yaml
  manifests/configmaps.yaml
  manifests/ingress.yaml
  manifests/services.yaml
  manifests/statefulset.yaml
  manifests/utility.deployment.yaml
  manifests/volumes.yaml
  manifests/watchdog.deployment.yaml
  manifests/waveman.deployment.yaml
Due: none

chore: deprecate old api
  api/.dockerignore
  api/.eslintrc.js
  api/.gitignore
  api/.prettierrc.json
  api/Dockerfile
  api/endpoints.js
  api/index.js
  api/lib/metadata/index.js
  api/lib/namespace/index.js
  api/lib/theme/index.js
  api/lib/track/index.js
  api/lib/waveform/index.js
  api/package-lock.json
  api/package.json
  api/util/db.js
  api/util/dnsName.js
  api/util/guard.js
  api/util/index.js
  api/util/logger.js
  api/util/picasso.js
  api/util/pluralize.js
  api/util/reconcile.js
  api/util/validator.js
  api/util/waveman.js
Due: build:api, deploy:api

chore: update gitignore to mirror deprecation
  .gitignore
Due: none

refactor: experiment with inheritence for TypeORM schemas
  api/package-lock.json
  api/package.json
  api/src/app.module.ts
  api/src/entity/Metadata.ts
  api/src/entity/Waveform.ts
  api/src/namespaces/dto/create-namespace.input.ts
  api/src/namespaces/dto/update-namespace.input.ts
  api/src/namespaces/entities/namespace.entity.ts
  api/src/namespaces/entities/namespace.model.ts
  api/src/namespaces/namespaces.resolver.ts
  api/src/objects.ts
  api/src/themes/dto/create-theme.input.ts
  api/src/themes/dto/update-theme.input.ts
  api/src/themes/entities/theme.entity.ts
  api/src/themes/entities/theme.model.ts
  api/src/themes/themes.resolver.ts
  api/src/tracks/dto/create-track.input.ts
  api/src/tracks/entities/track.entity.ts
  api/src/tracks/entities/track.model.ts
  api/src/tracks/tracks.resolver.ts
  api/src/tracks/tracks.service.ts
  api/src/waveforms/dto/create-waveform.input.ts
  api/src/waveforms/dto/update-waveform.input.ts
  api/src/waveforms/entities/waveform.entity.ts
  api/src/waveforms/entities/waveform.model.ts
  api/src/waveforms/waveforms.resolver.ts
  api/tsconfig.json
  tsconfig.json
Due: build:api, deploy:api

Path conditions:
  build:api: any of: api/**/*
  build:client: any of: client/**/*
  build:watchdog: any of: watchdog/**/*
  build:waveman: any of: waveman/**/*
  deploy:api: any of: api/**/*
  deploy:client: any of: client/**/*
  deploy:watchdog: any of: watchdog/**/*
  deploy:waveman: any of: waveman/**/*
