Repository zoomoid/demo-man: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:client, build:watchdog, build:waveman, deploy:api, deploy:client, deploy:watchdog, deploy:waveman

build:api:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd api/
  ...

build:client:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd client/
  ...

build:watchdog:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd watchdog/
  ...

build:waveman:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd waveman/
  ...

deploy:api:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:client:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:watchdog:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:waveman:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

test(watchdog): :white_check_mark: draft watcher unit test
  watchdog/spec/watchers.spec.js
Due: build:watchdog, deploy:watchdog

fix(api): :bug: fix replace operation in dnsName.js not being global, i.e. only replacing ONCE
  api/util/dnsName.js
Due: build:api, deploy:api

feat(client): :package: add tailwindcss v2
  client/.eslintrc.js
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/src/assets/css/tailwind.scss
  client/tailwind.config.js
Due: build:client, deploy:client

ci: :construction_worker: update CI stages
  .gitlab-ci.yml
Due: none

fix(api): :bug: fix database query for metadata
  api/lib/metadata/index.js
Due: build:api, deploy:api

fix(api): :bug: fix url creation for picasso and waveman
  api/util/picasso.js
  api/util/waveman.js
Due: build:api, deploy:api

fix(api): :bug: include theme route in specific namespace handler
  api/lib/namespace/index.js
  api/lib/theme/index.js
Due: build:api, deploy:api

refactor(api): :package: update packages
  api/package-lock.json
  api/package.json
Due: build:api, deploy:api

fix(watchdog): :bug: converge API request with expectation and improve promise structure in watchers.js
  watchdog/lib/requests.js
  watchdog/lib/watchers.js
Due: build:watchdog, deploy:watchdog

fix(watchdog): :bug: fix wrong logger service
  watchdog/util/logger.js
Due: build:watchdog, deploy:watchdog

fix(watchdog): :bug: fix filename construction for cover image
  watchdog/util/id3.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :loud_sound: update logging in index.js
  watchdog/index.js
Due: build:watchdog, deploy:watchdog

chore(watchdog): :package: update packages
  watchdog/package-lock.json
  watchdog/package.json
Due: build:watchdog, deploy:watchdog

test(watchdog): :white_check_mark: update experimental watcher test
  watchdog/spec/watchers.spec.js
Due: build:watchdog, deploy:watchdog

chore(watchdog): :see_no_evil: add logger output to gitignore
  watchdog/.gitignore
Due: build:watchdog, deploy:watchdog

feat(compose): :sparkles: add debugger support for running docker-compose.yml
  testing/docker-compose.yml
Due: none

refactor(picasso): :mute: remove unformatted print() logging
  picasso/main.py
  picasso/utils/colors.py
Due: none

refactor(client): :bento: update demo-man logo colors
  client/src/assets/demo-man-accent.svg
  client/src/assets/demo-man-primary.svg
Due: build:client, deploy:client

feat(client): :construction: add modls for Queue and Track to use with TypeScript
  client/src/store/models/Queue.ts
  client/src/store/models/Track.ts
Due: build:client, deploy:client

fix(picasso): :bug: fix flipped text colors
  picasso/utils/colors.py
Due: none

test(compose): :wrench: add vscode configuration for attaching to debuggers
  .vscode/launch.json
  .vscode/settings.json
Due: none

chore: :see_no_evil: update .gitignore
  .gitignore
Due: none

fix(api): :bug: add missing reference links in waveform routes
  api/lib/waveform/index.js
Due: build:api, deploy:api

fix(api): :bug: let picasso update updatedAt timestamp on Theme resource
  api/util/picasso.js
Due: build:api, deploy:api

fix(picasso): :ambulance: reduce quality to save memory and prevent OOM
  picasso/main.py
Due: none

fix(api): :bug: fix deletion query for tracks
  api/lib/track/index.js
Due: build:api, deploy:api

fix(api): :bug: fix $set for updating computedTheme
  api/util/picasso.js
Due: build:api, deploy:api

fix(api): :bug: fix $set for updating theme
  api/lib/metadata/index.js
Due: build:api, deploy:api

fix(api): :bug: fix metadata FSWatcher configuration
  watchdog/lib/watchers.js
Due: build:watchdog, deploy:watchdog

chore:
  vetur.config.js
Due: none

fix(watchdog): :bug: fix wrong argument list inf Function.bind call
  watchdog/lib/watchers.js
Due: build:watchdog, deploy:watchdog

feat(client): :sparkles: add typescript support to vue
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/main.ts
  client/src/registerServiceWorker.ts
  client/src/shims-tsx.d.ts
  client/src/shims-vue.d.ts
  client/src/store/index.ts
  client/src/views/Home.vue
  client/tsconfig.json
Due: build:client, deploy:client

chore(client): :twisted_rightwards_arrows: resolve merge conflicts
  .vscode/settings.json
  client/src/views/Home.vue
Due: build:client, deploy:client

chore(client):
  .vscode/launch.json
Due: none

fix(watchdog): :bug: add async to YAML and JSON loaders
  watchdog/lib/watchers.js
Due: build:watchdog, deploy:watchdog

refactor(api): :recycle: improve picasso and waveman module exports
  api/util/index.js
  api/util/picasso.js
  api/util/waveman.js
Due: build:api, deploy:api

fix(api): :bug: properly use return values from findOneAndUpdate queries
  api/lib/metadata/index.js
  api/lib/namespace/index.js
  api/lib/track/index.js
  api/lib/waveform/index.js
Due: build:api, deploy:api

feat(client): :package: update packages and initiate typescript port
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/tsconfig.json
  client/vue.config.js
Due: build:client, deploy:client

feat(client): :construction: add first set of resource models
  client/src/models/Theme.ts
  client/src/models/Track.ts
Due: build:client, deploy:client

feat(client): :sparkles: add (stashed) store implementation in TS
  client/src/store/index.ts
Due: build:client, deploy:client

Path conditions:
  build:api: any of: api/**/*
  build:client: any of: client/**/*
  build:watchdog: any of: watchdog/**/*
  build:waveman: any of: waveman/**/*
  deploy:api: any of: api/**/*
  deploy:client: any of: client/**/*
  deploy:watchdog: any of: watchdog/**/*
  deploy:waveman: any of: waveman/**/*
