Repository zoomoid/demo-man: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:client, build:watchdog, build:waveman, deploy:api, deploy:client, deploy:watchdog, deploy:waveman

build:api:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd api/
  ...

build:client:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd client/
  ...

build:watchdog:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd watchdog/
  ...

build:waveman:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes
  script:
  - cd waveman/
  ...

deploy:api:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:client:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:watchdog:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

deploy:waveman:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint:
    - /docker-entrypoint.sh
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  ...

refactor(api): :heavy_minus_sign: remove @occloxium/log dependency
  api/package-lock.json
  api/package.json
Due: build:api, deploy:api

ci: :construction_worker: add needs key for build stage
  .gitlab-ci.yml
Due: none

ci: :bug: use correct needs type
  .gitlab-ci.yml
Due: none

fix(api): :bug: update api redirect to fit new resource pluralization
  api/index.js
Due: build:api, deploy:api

fix(api): :bug: add correct casing for localUrl property
  api/lib/track/index.js
Due: build:api, deploy:api

fix(api): :bug: fix POST data for picasso
  api/util/picasso.js
Due: build:api, deploy:api

fix(picasso): :bug: add int conversion to palette call
  picasso/main.py
Due: none

refactor(api): :recycle: refactor reconcile runs
  api/util/reconcile.js
Due: build:api, deploy:api

feat(api): :heavy_plus_sign: add axios for http requests
  api/package-lock.json
  api/package.json
Due: build:api, deploy:api

feat(api): :recycle: use axios HTTP client instead of node-fetch for all HTTP-related invokations
  api/util/picasso.js
  api/util/waveman.js
Due: build:api, deploy:api

refactor(api): :heavy_minus_sign: remove node-fetch dependency
  api/package-lock.json
  api/package.json
Due: build:api, deploy:api

fix(api): :bug: fix last node-fetch occurrence and debug picassoHook
  api/index.js
  api/util/picasso.js
Due: build:api, deploy:api

feat(watchdog): :recycle: make theme metadata key optional and provide user instructions
  watchdog/constants.js
Due: build:watchdog, deploy:watchdog

feat(api): :sparkles: add /namespaces/:namespace/theme endpoint
  api/lib/metadata/index.js
  api/lib/theme/index.js
Due: build:api, deploy:api

feat(api): :sparkles: add theme module to router
  api/index.js
Due: build:api, deploy:api

fix(api): :bug: fix snake_case for cover redirect
  api/lib/namespace/index.js
Due: build:api, deploy:api

refactor(api): :recycle: refactor waveform endpoints and URL inclusion
  api/lib/track/index.js
  api/lib/waveform/index.js
Due: build:api, deploy:api

feat(picasso): :sparkles: add utility classes to calculate contrast ratio of two colors
  picasso/__init__.py
  picasso/main.py
  picasso/utils.py
Due: none

refactor(picasso): :recycle: converge theme objects in waveman and picasso and add color logic into own module
  picasso/main.py
  picasso/utils.py
  picasso/utils/__init__.py
  picasso/utils/colors.py
Due: none

feat(api): :sparkles: add resource pluralization utility
  api/util/pluralize.js
Due: build:api, deploy:api

feat(api): :sparkles: add dnsName utility to convert any names into DNS-compliant resource names
  api/util/dnsName.js
Due: build:api, deploy:api

refactor(api): :recycle: update guard.js to use HTTP authorization headers instead of attached tokens to request body
  api/util/guard.js
Due: build:api, deploy:api

feat(api): :sparkles: add logger shorthand functions to describe resource alterations
  api/util/logger.js
Due: build:api, deploy:api

refactor(api): :recycle: import new utility modules
  api/util/index.js
Due: build:api, deploy:api

feat(watchdog): :sparkles: switch to axios for HTTP
  watchdog/util/http.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :package: add axios and remove node-fetch
  watchdog/package-lock.json
  watchdog/package.json
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: converge post data in id3.js w/ new API
  watchdog/util/id3.js
Due: build:watchdog, deploy:watchdog

refactor(api): :recycle: vastly refactor waveman.js utility module
  api/util/waveman.js
Due: build:api, deploy:api

refactor(api): :recycle: adopt new API and returned theme from picasso
  api/util/picasso.js
Due: build:api, deploy:api

refactor(api): :recycle: Do API refactor and remodeling
  api/lib/metadata/index.js
  api/lib/namespace/index.js
  api/lib/theme/index.js
  api/lib/track/index.js
  api/lib/waveform/index.js
Due: build:api, deploy:api

refactor(watchdog): :recycle: add filename key to cover property in track metadata
  watchdog/util/id3.js
Due: build:watchdog, deploy:watchdog

refactor(api): :recycle: refactor utility module imports
  api/util/db.js
  api/util/guard.js
  api/util/picasso.js
  api/util/reconcile.js
  api/util/validator.js
  api/util/waveman.js
Due: build:api, deploy:api

refactor(api): :recycle: refactor dnsName normalizer
  api/util/dnsName.js
Due: build:api, deploy:api

refactor(watchdog): :package: add winston + chai/mocha and adopt new logger
  watchdog/package-lock.json
  watchdog/package.json
  watchdog/util/dnsName.js
  watchdog/util/logger.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: adopt new logger in http.js
  watchdog/util/http.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: improve constants scaffolding and logger
  watchdog/constants.js
  watchdog/index.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: refactor large portions of id3 metadata generation and use new API format
  watchdog/util/id3.js
  watchdog/util/index.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: split watcher creation and subscribing to events into two functions
  watchdog/lib/watchers.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: refactor logging in requests.js
  watchdog/lib/requests.js
Due: build:watchdog, deploy:watchdog

test(watchdog): :white_check_mark: add dnsName unit test
  watchdog/spec/dnsName.spec.js
Due: build:watchdog, deploy:watchdog

Path conditions:
  build:api: any of: api/**/*
  build:client: any of: client/**/*
  build:watchdog: any of: watchdog/**/*
  build:waveman: any of: waveman/**/*
  deploy:api: any of: api/**/*
  deploy:client: any of: client/**/*
  deploy:watchdog: any of: watchdog/**/*
  deploy:waveman: any of: waveman/**/*
