Repository zoomoid/demo-man: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:client, build:watchdog, build:waveman, deploy:api, deploy:client, deploy:watchdog, deploy:waveman

.gitlab-ci.yml:

stages:
  - build
  - deploy

.kubectl:
  image:
    name: registry.git.rwth-aachen.de/zoomoid/docker-kubectl:latest
    entrypoint: ['/docker-entrypoint.sh']
  before_script:
  - echo $kube_config | base64 -d > /runner.conf
  - export KUBECONFIG="$KUBECONFIG:/runner.conf"
  - export VERSION=$(cat .version)
  - kubectl config use-context runner@kubernetes
  tags:
  - kubernetes

.build-pre:
  stage: build
  image: docker:latest
  before_script:
  - echo "$CI_JOB_TOKEN" | docker login registry.git.rwth-aachen.de --username gitlab-ci-token --password-stdin 
  - export VERSION=$(cat .version)
  - echo $VERSION
  tags:
  - kubernetes

build:api:
  extends: .build-pre
  rules:
    - changes:
        - api/**/*
  script: 
    - cd api/
    - docker build -t $CI_REGISTRY_IMAGE/api:$VERSION . --build-arg VERSION=$VERSION
    - docker push $CI_REGISTRY_IMAGE/api:$VERSION

build:client:
  extends: .build-pre
  rules:
    - changes:
        - client/**/*
  script: 
    - cd client/
    - docker build -t $CI_REGISTRY_IMAGE/client:$VERSION . --build-arg VERSION=$VERSION
    - docker push $CI_REGISTRY_IMAGE/client:$VERSION

build:watchdog:
  extends: .build-pre
  rules:
    - changes:
        - watchdog/**/*
  script: 
    - cd watchdog/
    - docker build -t $CI_REGISTRY_IMAGE/watchdog:$VERSION . --build-arg VERSION=$VERSION
    - docker push $CI_REGISTRY_IMAGE/watchdog:$VERSION

build:waveman:
  extends: .build-pre
  rules:
    - changes:
        - waveman/**/*
  script: 
    - cd waveman/
    - docker build -t $CI_REGISTRY_IMAGE/waveman:$VERSION . --build-arg VERSION=$VERSION
    - docker push $CI_REGISTRY_IMAGE/waveman:$VERSION

.deploy:prototype:
  stage: deploy
  extends: .kubectl
  script:
  - echo "Upgrading images to version $VERSION" 
  - kubectl set image deployment/demo-$SVC $SVC=$CI_REGISTRY_IMAGE/$SVC:$VERSION --record

deploy:api:
  extends: .deploy:prototype
  variables:
    SVC: api
  rules:
    - changes:
        - api/**/*
  
deploy:client:
  extends: .deploy:prototype
  variables:
    SVC: client
  rules:
    - changes:
        - client/**/*
  
deploy:watchdog:
  extends: .deploy:prototype
  variables:
    SVC: watchdog
  rules:
    - changes:
        - watchdog/**/*
  
deploy:waveman:
  extends: .deploy:prototype
  variables:
    SVC: waveman
  rules:
    - changes:
        - waveman/**/*

:package: update packages
  api/package.json
  client/package.json
  watchdog/package.json
Due: build:api, build:client, build:watchdog, deploy:api, deploy:client, deploy:watchdog

:construction_worker: work on CI file
  .gitlab-ci.yml
Due: none

:construction_worker: add tagging to latest
  .gitlab-ci.yml
Due: none

:rocket: update k8s deployments
  k8s/api-server.deployment.yaml
  k8s/client.deployment.yaml
  k8s/watchdog.deployment.yaml
  k8s/waveman.deployment.yaml
Due: none

:construction_worker: fix missing latest tag for imagepullerr
  .gitlab-ci.yml
Due: none

:bug: fix logger dependency name
  api/index.js
  api/lib/metadata/index.js
  api/lib/namespace/index.js
  api/lib/track/index.js
  api/lib/waveform/index.js
  api/util/db.js
  api/util/guard.js
  api/util/reconcile.js
  api/util/validator.js
  api/util/waveman.js
  watchdog/index.js
  watchdog/lib/requests.js
  watchdog/lib/watchers.js
  watchdog/util/http.js
  watchdog/util/id3.js
Due: build:api, build:watchdog, deploy:api, deploy:watchdog

:bug: fix query bug and missing assignment
  .version
  api/lib/namespace/index.js
  api/lib/waveform/index.js
  tag.py
Due: build:api, deploy:api

:construction_worker: adopt tags-only building again
  .gitlab-ci.yml
Due: none

:package: update version
  .version
Due: none

:construction_worker: improve pipeline rules
  .gitlab-ci.yml
Due: none

:package: update packages
  .version
  api/package-lock.json
  api/package.json
  client/package-lock.json
  client/package.json
  watchdog/package-lock.json
  watchdog/package.json
Due: build:api, build:client, build:watchdog, deploy:api, deploy:client, deploy:watchdog

:construction_worker: update CI config and create amend commit from tag.py util
  .gitlab-ci.yml
  .version
  tag.py
Due: none

:construction_worker: update CI file and update tag utility
  .gitignore
  .gitlab-ci.yml
  .version
  tag.py
Due: none

:bug: fix structure issue in tag utility
  tag.py
Due: none

refactor: :recycle: update patch utility
  tag.py
Due: none

ci: :construction_worker: update CI for new namespace
  .gitlab-ci.yml
Due: none

ci: :ambulance: attempt to fix $VERSION being unavailable
  .gitlab-ci.yml
Due: none

ci: :ambulance: use python version that includes git
  .gitlab-ci.yml
Due: none

build: :rocket: update kubernetes image path to fit new deployment
  k8s/api-server.deployment.yaml
  k8s/client.deployment.yaml
  k8s/volumes.yaml
  k8s/watchdog.deployment.yaml
  k8s/waveman.deployment.yaml
Due: none

ci: :recycle: only run CI on tagged commits
  .gitlab-ci.yml
Due: none

refactor(api): :recycle: split waveform sanitization into promise chain
  api/lib/waveform/index.js
Due: build:api, deploy:api

fix(api): :bug: add waveform deletion for deleted tracks
  api/lib/track/index.js
Due: build:api, deploy:api

docs(api): :label: add typing for db.get()
  api/util/db.js
Due: build:api, deploy:api

refactor(api): :recycle: add redirection from root to api URL
  api/index.js
Due: build:api, deploy:api

docs(watchdog): :memo: update watchers.js documentation
  watchdog/lib/watchers.js
Due: build:watchdog, deploy:watchdog

refactor(watchdog): :recycle: update constants.js for local testing
  watchdog/constants.js
Due: build:watchdog, deploy:watchdog

test(compose): :sparkles: add local fileserver to remove hard-coded resource URLs
  testing/docker-compose.yml
Due: none

fix(api): :zap: add resource pluralization
  api/lib/metadata/index.js
  api/lib/namespace/index.js
  api/lib/track/index.js
  api/lib/waveform/index.js
Due: build:api, deploy:api

refactor(watchdog): :alien: adopt API changes and upgrade theming template
  watchdog/constants.js
  watchdog/lib/requests.js
Due: build:watchdog, deploy:watchdog

fix(waveman): :recycle: update drawHook and templating
  waveman/config/config.json
  waveman/main.py
Due: build:waveman, deploy:waveman

feat(picasso): :tada: add "picasso" micro-service
  picasso/.dockerignore
  picasso/.gitignore
  picasso/Dockerfile
  picasso/main.py
  picasso/pyvenv.cfg
  picasso/requirements.txt
Due: none

refactor(watchdog): :recycle: add localUrl field for cover URL and remove underscores from object keys
  watchdog/util/id3.js
Due: build:watchdog, deploy:watchdog

fix(picasso): :bug: add missing gunicorn dependency and fix port overlap
  picasso/Dockerfile
  picasso/main.py
  picasso/requirements.txt
Due: none

test(compose): :sparkles: add picasso micro-service to docker-compose.yaml and provide endpoints to other services
  testing/docker-compose.yml
Due: none

feat(api): :alien: add picasso endpoints for API
  api/endpoints.js
Due: build:api, deploy:api

feat(api): :package: add winston logger and replace logging facade with winston logger
  api/index.js
  api/lib/metadata/index.js
  api/lib/namespace/index.js
  api/lib/track/index.js
  api/lib/waveform/index.js
  api/package-lock.json
  api/package.json
  api/util/db.js
  api/util/guard.js
  api/util/index.js
  api/util/logger.js
  api/util/picasso.js
  api/util/reconcile.js
  api/util/validator.js
  api/util/waveman.js
Due: build:api, deploy:api

fix(api): :bug: adopt correct logger naming
  api/util/logger.js
Due: build:api, deploy:api

refactor(api): :fire: remove unused Object.prototype.has function
  api/util/validator.js
Due: build:api, deploy:api

chore(api): :see_no_evil: add logger output to gitignore
  api/.dockerignore
  api/.gitignore
Due: build:api, deploy:api
